<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Upload</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
  <body>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Uploading a file in python flask</div>
  <div class="panel-body">
  <p>
      <form action="/upload" method="post" enctype="multipart/form-data">
       <input type="file" name="file"><br /><br />
       <input type="submit" value="Upload">
      </form>
  </p>
  </div>
  <table class="table">
    {% for item in listfiles %}
    <tr>
      <td>File: {{ item }}</td>
      <td><a href="{{ url_for('uploaded_file', filename=item) }}">Visualizza</a></td>
      <td><a href="{{ url_for('generate_file', filename=item) }}">Genera</a></td>
    </tr>
    {% endfor %}
  </table>


</div>
  </body>
</html>